@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    color: #e75e8d;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}


.banner-titulo {
    font-size: 40px;
    color: #e75e8d;
    text-align: center;
}

.banner-jogo img {
    width: 100%;
}

.descricao-titulo {
    text-align: center;
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    margin: 60px 0;
}

.descricao-sub-titulo {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}

.conteudo {
    color: #fff;
    text-align: justify;
    margin-bottom: 10px;
}

.fotos {
    margin: 20px 0;
}

.sub {
    font-weight: 400;
    color: #e75e8d;
    margin-bottom: 10px;
}

.sub-titulo {
    margin: 20px 0;
    color: #e75e8d;
}

.seta {
    width: 80px;
}



@media(0px <= width <= 480px) {
    .banner-titulo {
        font-size: 30px;
    }

    .descricao-titulo {
        font-size: 35px;
        line-height: 50px;
        margin: 40px 0; 
    }

    iframe {
        height: 250px;
    }
}

@media(481px <= width <= 787px) {
    iframe {
        height: 350px;
    }
}

@media(788px <= width <= 1024px) {
    iframe {
        height: 400px;
    }
}