/* Inicio Lançamentos */

.lancamentos-titulo {
    font-size: 40px;
    color: #e75e8d;
    text-align: center;
    margin-bottom: 50px;
}

.jogo-lan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-lan {
    width: 350px;
}

.jogos-lan-conteudo {
    width:40%;
    padding: 20px;
    color: #e75e8d;
}

.ultimo-p {
    margin-bottom: 10px;
}

.linha-lancamentos {
    border-color: #e75e8d;
    margin: 10px 0;
}

.paginas {
    padding-top: 20px;
    text-align: center;
    margin: auto;
}
.pagina {
    padding: 10px 15px;
    background-color: #666;
}

.pagina:hover, .pagina.selecionado:hover {
    background-color: #e75e8e9a;
}

.pagina.selecionado {
    background-color: #e75e8d;
}

/* Final Lançamentos */

/* Lançamentos MQ */
@media(0px <= width <= 480px) {
    .lancamentos-titulo {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .jogo-lan {
       flex-direction: column;
    }

    .jogos-lan-conteudo {
        width:100%;
        text-align: start;
    }

    .jogos-pro-conteudo {
        width:100%;
        text-align: justify;
    }


    .ultimo-p {
        margin-bottom: 20px;
    }

    .linha-lancamentos {
        margin: 25px 0;
    }
}

@media(481px <= width <= 600px) {
    .lancamentos-titulo {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .jogo-lan {
       flex-direction: column;
    }

    .jogos-lan-conteudo {
        width:100%;
        text-align: center;
    }

    .jogos-pro-conteudo {
        width:100%;
        text-align: center;
    }


    .ultimo-p {
        margin-bottom: 20px;
    }

    .linha-lancamentos {
        margin: 25px 0;
    }
}


@media(601px <= width <= 787px) {
    .img-lan {
        width: 300px;
    }

    .jogos-lan-conteudo {
        width:50%;
    }

    .jogos-pro-conteudo {
        width: 60%;
    }

    
    .jogos-lan-conteudo p {
        font-size: 15px;
    }

    .jogos-pro-conteudo p {
       font-size: 15px;
    }

}



/* Inicio Proximos lançamentos */

.img-proximos {
    width: 300px;
    margin:20px 0;
}

.jogos-pro-conteudo {
    width:60%;
    padding: 20px;
    color: #e75e8d;
}

@media(0px <= width <= 480px) {
 
    .jogos-pro-conteudo {
        width:100%;
        text-align: start;
    }

    .ultimo-p {
        margin-bottom: 20px;
    }

    .linha-lancamentos {
        margin: 25px 0;
    }
}

@media(481px <= width <= 600px) {
    .lancamentos-titulo {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .jogo-lan {
       flex-direction: column;
    }

    .jogos-lan-conteudo {
        width:100%;
        text-align: center;
    }

    .ultimo-p {
        margin-bottom: 20px;
    }

    .linha-lancamentos {
        margin: 25px 0;
    }
}


@media(601px <= width <= 787px) {
    .img-lan {
        width: 300px;
    }

    .jogos-lan-conteudo {
        width:50%;
    }
    
    .jogos-lan-conteudo p {
        font-size: 15px;
    }
}
