/* Inicio Lançamentos */

.lancamentos-titulo {
    font-size: 40px;
    color: #e75e8d;
    text-align: center;
    margin-bottom: 50px;
}

.jogo-lan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-lan {
    width: 350px;
}

.jogos-lan-conteudo {
    width:40%;
    padding: 20px;
    color: #e75e8d;
}

.ultimo-p {
    margin-bottom: 10px;
}

.linha-lancamentos {
    border-color: #e75e8d;
    margin: 10px 0;
}

.paginas {
    padding-top: 20px;
    text-align: center;
    margin: auto;
}
.pagina {
    padding: 10px 15px;
    background-color: #666;
}

.pagina:hover, .pagina.selecionado:hover {
    background-color: #e75e8e9a;
}

.pagina.selecionado {
    background-color: #e75e8d;
}

/* Final Lançamentos */

