@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

span {
    color: #e75e8d;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}

/* Inicio do cabeçalho */

.cabecalho {
    max-width: 1120px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lista a {
    margin: 0px 20px;
    color: #666;
    transition: .2s ease-in-out;
    font-size: 15px;
}

.menu-lista a:hover {
    color: #e75e8d;
}

.menu-lista.ativado a {
    color: #e75e8d;
}

/* Fim do cabeçalho */

.container {
    background-color: #26292a;
    max-width: 1120px;
    margin: auto;
    border-radius: 20px;
    padding: 50px;
}

/* Incio do banner */
.banner {
    background-color: #1e2122;
    background-image: url(../imagens/banner-bg.jpg);
    color: #fff;
    width: 100%;
    min-height: 382px;
    border-radius: 20px;
    padding: 70px 50px;
    animation: backInDown;
    animation-duration:1.5s;
}

.banner-conteudo {
    width: 60%;
    animation: flipInX 8s linear;
}

.banner-boas-vindas {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}

.banner-titulo {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.banner-btn {
    color: #fff;
    background-color: #e75e8d;
    padding: 10px 25px;
    border-radius: 30px;
}

.banner-btn:hover {
    color: #e75e8d;
    background-color: #fff;
    transition: .3s;
}

/* Fim do banner */


/* Inicio jogos lançamento */

.jogos {
    background-color: #1e2122;
    color: #fff;
    margin: 60px 0;
    padding: 20px;
    border-radius: 20px;
}

.jogos-titulo {
    font-size: 30px;
    margin-bottom: 30px;
}

.jogos-titulo a {
    color: #fff;
}

.jogos-lancamentos {
    display: flex;
    flex-wrap: wrap;
}

.jogo-lancamento {
    margin: 12px;
    background-color: #26292a;
    padding: 30px 10px;
    border-radius: 20px;
    text-align: center;
    max-width: 220px;
    box-shadow: 5px 5px 5px #e75e8d;
    position: relative;
}

.jogo-lancamento:hover {
    top:-2px;
    box-shadow:0 2px 2px #666;
}

.jogo-lancamento img {
    border-radius: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
}

.jogo-lancamento p {
    margin-bottom: 15px;
}

.btn-jogos {
    color: #fff;
    background-color: #e75e8d;
    padding: 5px 15px;
    border-radius: 25px;
}

.btn-jogos:hover {
    background-color: #fff;
    color: #e75e8d;
    transition: .3;
}

.btn-jogos.principal {
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 200px;
}


/* Final jogos lançamento */

/* Inicio Proximos lançamentos */


.proximo-lancamento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    border-bottom: 1px solid #666;
}

.proximo-lancamento img {
    width: 100px;
    border-radius: 30px;
}

.proximo-lancamento p {
    font-size: 15px;
    text-align: center;
    width: 200px;
}



/* Final Proximos lançamentos */


footer {
    max-width: 1120px;
    margin: 30px auto;
    color: #e75e8d;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}










@media(0px <= width <= 480px) {
    .cabecalho {
        max-width: 480px;
        margin: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .menu ul {
        flex-direction: column;
    }


    .menu-lista {
        padding: 5px;
    }

    .container {
        max-width: 480px;
        margin: 15px ;
        padding: 30px;
    }

    .banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 382px;
        padding: 50px 40px;
    }

    .banner-conteudo {
        width: 100%;
        animation: flipInX 8s linear;
        text-align: center;
    }

    .jogos-titulo {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    .jogos-lancamentos {
      justify-content: center;
      align-items: center;
    }

    .jogo-lancamento {
        margin: 12px;
        text-align: center;
        max-width: 380px;
    }

    .proximo-lancamento {
        justify-content: center;
        padding: 30px;
    }
    
    .proximo-lancamento img {
        width: 150px;
        margin: 0 30px;
    }
    
    .proximo-lancamento p {
        margin: 15px;
    }
}

@media(481px <= width <= 787px) {
    .cabecalho {
        max-width: 768px;
        margin: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .menu ul {
        flex-direction: column;
    }


    .menu-lista {
        padding: 5px;
    }

    .menu-lista a {
        font-size: 20px;
    }

    .container {
        max-width: 768px;
        margin: 15px ;
        padding: 30px;
    }

    .banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 450px;
        padding: 50px 40px;
    }

    .banner-conteudo {
        width: 100%;
        text-align: center;
    }

    .jogos-titulo {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .jogos-lancamentos {
      justify-content: center;
      align-items: center;
    }

    .proximo-lancamento {
        justify-content: center;
        padding: 30px;
    }
    
    .proximo-lancamento img {
        width: 200px;
        margin: 0 30px;
    }
    
    .proximo-lancamento p {
        margin: 15px;
    }
}

@media(788px <= width <= 1024px) {
    .container {
        max-width: 1000px;
        margin: 15px ;
        padding: 30px;
    }

    .banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 450px;
        padding: 50px 40px;
    }

    .banner-conteudo {
        width: 70%;
    }

    .jogos-titulo {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .jogos-lancamentos {
        justify-content: center;
    }

    .proximo-lancamento {
        justify-content: center;
        padding: 30px;
    }
    
    .proximo-lancamento img {
        width: 100px;
        margin: 0 30px;
    }
    
    .proximo-lancamento p {
        width: 120px;
    }
}


@media(1025px <= width <= 1200px) {
    .container {
        max-width: 1190px;
        margin: 15px ;
        padding: 30px;
    }

    .banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 450px;
        padding: 50px 40px;
    }

    .banner-conteudo {
        width: 70%;
    }

    .jogos-titulo {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .jogos-lancamentos {
        justify-content: center;
    }

    .proximo-lancamento {
        padding: 30px;
    }
    
    .proximo-lancamento img {
        width: 100px;
        margin: 0 30px;
    }
    
    .proximo-lancamento p {
        width:150px;
    }
}